# Logs
logs
*.log
npm-debug.log*
.eslintcache
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Production / Build
dist/
dist-ssr/

# Environment Variables (보안 핵심)
.env
.env.local
.env.*.local

.DS_Store
Thumbs.db