# IntelliJ IDEA (폴더 전체를 무시하도록 수정)
.idea/
*.iws
*.iml
*.ipr
out/

# VS Code
.vscode/

# Config files (보안상 매우 중요)
**/application.properties
**/application-*.properties
.env

# MacOS/Windows 시스템 파일
.DS_Store
Thumbs.db

# 빌드 결과물
**/build/
**/.gradle/